/* Style for links */
.link-style {
    display: flex;
    font-size:x-small;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    background-color: rgb(7, 79, 106); 
    color: white;
    width: 160px;
    padding: 10px 20px; 
    margin: 10px; 
    border-radius: 5px; 
    text-decoration: none; 
  }
  
  /* Style the navigation links on hover */
.link-style:hover {
    background-color: #1597ed;
  }

  /* Style for heading */
  h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3.2em;
    font-weight: bold;
    color: rgb(7, 79, 106);
    line-height: 1.1;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    }
  
h2 {
  color: rgb(7, 79, 106);
}
 
/* Style for the edit form */
.edit-form { 
  color: white; 
  background-color: rgb(7, 79, 106);
  border-radius: 5PX;
  padding: 20px; 
}

.edit-form-title {
  color: rgb(7, 79, 106);
}
